body {
    margin: 0;
}

.admintable {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.admintable td,
.admintable th {
    // border: 1px solid #ddd;
    padding: 8px;
}

.admintable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admintable tr:hover {
    background-color: #ddd;
}

.admintable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #020202;
    color: white;
}

.heading {
    text-align: center;
}
