body {
    margin: 0;
}

.input {
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    //margin-left: 10px;
    text-align: left;
    width: 90%;
    font-size: 15px;
}

.btn {
    margin-top: 15px;
    width: 90%;
    display: inline-block;
    justify-content: center;
    background: #000;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 28, 61, 0.3);
    font-size: 15px;
    text-align: center;
}

.btn1 {
    width: 90%;
    background: #fff;
    color: #000;
    text-decoration: none;
    display: flex;
    border: solid 1px #000;
    font-size: 15px;
    line-height: 22px;
    color: #000;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    &--pad-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    &--pad-25 {
        padding-left: 25px;
        padding-right: 25px;
    }
    &--awap {
        flex: 1 1 auto;
    }
    &--right-float {
        float: right;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--secondary {
        background: #000;
        color: rgb(255, 255, 255);
        box-shadow: 0 2px 4px 0 rgba(0, 28, 61, 0.3);
    }
    &--tertiary {
        background: #1e79e4;
        color: rgb(17, 16, 16);
        box-shadow: 0 2px 4px 0 rgba(30, 121, 228, 0.3);
    }
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    &__bottom {
        background: #fff;
        color: #000;
        text-align: right;
    }
}
